<!DOCTYPE html>

<html lang="ja">

<head>
<meta charset="UTF-8">
<title>お会計</title>
<link th:href="@{toppage.css}" rel="stylesheet" >

</head>


<body>
	<form method="post">
		注文履歴
		<div th:if="${orderList}!=null" class="csv_format_list">
				<div th:each="item: ${orderList}">
					<span th:text="${item}"></span>
				</div>
		</div>
		<p>合計金額 : <span th:text="${totalAmount}"></span></p>				
		<input type="submit" th:formaction="@{/toppagereturn}" value="トップに戻る" class="button"><br>
	</form>
</body>
</html>
