<!DOCTYPE html>

<html lang="ja">

<head>
<meta charset="UTF-8">
<title>お会計</title>
<link th:href="@{toppage.css}" rel="stylesheet" >

</head>


<body>
	<form method="post">
		注文履歴
		<!-- エラーメッセージの表示 -->
		<div th:if="*{message}!=null">
			<div class="billmessage">
				<span th:each="i : *{message}" >
					<p th:text="${i.message}"></p>
				</span>
			</div>
		</div>
		
		<div th:if="*{message}==null">
		<div th:if="${orderlist}!=null" class="csv_format_list">
				<div th:each="item: ${orderlist}">
					<span th:text="${item}"></span>
				</div>
		</div>
		<p>合計金額 : <span th:text="${totalamount}"></span></p>
		</div>			
		<input type="submit" th:formaction="@{/toppagereturn}" value="トップに戻る" class="button"><br>
	</form>
</body>
</html>
